{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}
Все посты
{% endblock %}


{% block content %}
    <h1>Лента постов</h1>
    {% if tag %}
      <h2>Посты по тегу "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="tags">
          Теги: 
          {% for tag in post.tag.all %}
            <a href='{% url "blog:post_list_by_tag" tag.slug %}'>
              {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
          <p class="date">
            Опубликовано {{ post.publish }}, автор: {{ post.author }}
          </p>
          {{ post.body|markdown|truncatewords_html:30 }}
      <br>
    {% endfor %}
{% endblock %}
